html {
    border: 1px solid black;
    box-sizing: border-box;
    box-shadow: 3px 3px 3px 3px black;
    font-size: 62.5%;
}

*,
**::before,
**::after {
    box-sizing: inherit;
}

body {
    background: rgba(0, 100, 200, 5%);
    border: 3px solid black;
    box-shadow: 3px 3px 3px 3px black;
    height: 97vh;
    width: 98%;
}

#container {
    background: #FFFFFF;
    border: 3px solid black;
    border-radius: 10%;
    box-shadow: 3px 3px 3px 3px black;
    display: flex;
    flex-flow: row wrap;
    height: 75vh;
    margin: 2% auto;
    width: 80%;
}


canvas {
    border-radius: 10%;
    height: 75vh;
    width: 100%;
}

button {
    border: 3px solid black;
    border-radius: 10px;
    box-shadow: 3px 3px 3px 3px black;
    font-size: 1.6rem;
    height: 8vh;
    margin: 4% auto;
    width: 20%;
}

button:hover {
    background: #000000;
    color: #FFFFFF;
}

@media screen and (max-width: 850px) {
    button {
        font-size: 1.6rem;
    }
}

@media screen and (max-width: 700px) {
    button {
        font-size: 1.5rem;
        height: 8vh;
        width: 17%;
    }
}

@media screen and (max-width: 560px) {
    button {
        height: 10vh;
        width: 20%;
    }
}